.container {
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.4fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 1.5em;
}

.scr{
    margin-top: 2%;
}

@media screen and (max-width: 500px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        font-size: 1.5em;
        width: 100%;
    }
}